aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-jinja2==1.6
aiosignal==1.3.2
altgraph @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
async-timeout==5.0.1
attrs==25.1.0
bitcoinlib==0.7.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
distlib==0.3.9
fastecdsa==3.0.1
filelock==3.16.1
frozenlist==1.5.0
future @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
greenlet==3.1.1
idna==3.10
Jinja2==3.1.5
linkify-it-py==2.0.3
macholib @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
msgpack==1.1.0
multidict==6.1.0
numpy==2.0.2
platformdirs==4.3.6
propcache==0.2.1
pycryptodome==3.21.0
Pygments==2.19.1
requests==2.32.3
rich==13.9.4
six @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
SQLAlchemy==2.0.37
textual==1.0.0
textual-dev==1.7.0
textual-serve==1.1.1
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.3.0
virtualenv==20.28.1
yarl==1.18.3
